{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="row" id="footer">
<h1 class="about"><b><span style="color:#ff0c78;font-family:monotype corsiva;font-size:60px">About Us</b></span></h1>
<br><br>
<div class="col-md-6">
<h1><span style="font-family:cursive;color:#ff0c78;"><b>----> OUR STORY <----</b></h1></span>
<p><b>Our story began in 2010 when Jagdishbhai Gidwani came at Bajwa and took 
 the initiative, set up the bakery while working at the same time for only 
 localpeople dedicatedly by himself. From the beginning we were passionate 
 about bothquality and tasty products that effects great products have on people. 
 We have pioneered by Prakashbhai Gidwani, which we started with a new look 
 and brand name in 2015 and transitioned to become a chain outlet in Bathinda.
 Now that we areresponsible for a service used in over 10 locations in Bathinda,
 we feel like we're only getting started.</b></p>

</div>
<div class="col-md-6">
<img src="{% static 'bkk8.PNG' %}" height="400" width="500" />
</div>---
</div>

<div class="row" id="footer1">
<div class="col-md-12">
<h1><b>LOCAL DELIVERY AVAILABLE</b></h1><br><br>
</div>
 
<div class="col-md-6">
<img style="border:3px solid red;"src="{% static 'bake1.JPG' %}" height="300" width="500"/>
<p><b>We know that good memories come with good food. Whether it’s a shower</b></P>
<p><b>luncheon, meeting, or party, our catering menu offers a variety of options</b></p> 
<P><b>for your next event. Arrange for a gathering at our Colonnade or Greystone</b></p> 
<p><b>locations, or have Edgar’s delivered to you. If you’re planning a special</b></p> 
<p><b>event or need to place a large-volume order, please contact our catering</b></P> 
<P><b>coordinator. Whatever the event, we are happy to meet your catering needs.</b></p>
</div>

<div class="col-md-6">
<p><b>In modern days,most of the people are switching to online shopping for its</p>
<p><b>convenience.There is a large range of online cake shop that offers freshcake </p>
<p><b>to the customers.The tasty and fresh cake can enhance happiness on the   </p>
<p><b>occasion.The online technicalteam helps you to choose the cake properly  </p> 
<p><b>based ontheir needs and budget. By orderingthe cake online you can send  </p>
<p><b> it to home, office, college, and school without any hassle By ordering <p>
<P><b>the cake online you can gain huge benefits.</b></p>
<img style="border:3px solid red;"src="{% static 'bk14.JPG' %}" height="300" width="550"/>
</div>
</div>
</div>
<div class="row" id="footer2">
<div class="col-md-12">
<h1><b> <marquee>OUR    CAKES   ARE    AVAILABLE   FOR</b></marquee> </span></h1>
<h1><marquee>TAKEOUT AND DELIVERY </marquee> </b></span></h1>
</div>
</div>
<div class="row" id="footer3">
<div class="col-md-12">
<h1><b>WHAT WE BAKE AND CAKE</b></h1>
<div class="col-md-8">
<li>Bread</li>
<li>Bread roll</li>
<li>Flatbreads</li>
<li>Doughnuts</li>
<li>Muffins</li>
<li>Pizzas</li>
<li>Buns</li>
</div>
<div class="col-md-4">
<li>Pastries</li>
<li>Pies</li>
<li>Cakes</li>
<li>Cupcakes</li>
<li>Cookies</li>
<li>Biscuits</li>
<li>nudels</li></b>
</div>
</div>
</div>
<div class="row" id="footer4">
<div class="col-md-12">
<h1><b>WHAT DISTINGUISHES US?</b></h1>
<div class="col-md-4">
<h2><b>Test Great</b></h2>
<p> Everybody has to eat! 
It’s as simple as that. 
So people want to find tasty, 
healthy food, the best places to eat,
</div>
<div class="col-md-4">
<h2><b>Sweet Prices</b></h2>
<p> market dictates the price
 of your baked goods, and what 
 successful ... and then 
 divide by the average number
 of servings you produce per day.
</div>
<div class="col-md-4">
<h2><b>Baked goods</b></h2>
<p> Baked goods are foods that are baked with
 grains and/or cereal products. A distinction 
 is made between bread, small baked goods
 e.g. rolls, pastries ,puff pastry and
 dry baked goods .
</div>
<div class="col-md-4">
<h2><b>Any Goodies</b></h2>
<p>something especially attractive or 
pleasing, especially cake, cookies, or
 candy.something that causes delight or 
 satisfaction
</div>
<div class="col-md-4">
<h2><b>Tradmarks Test</b></h2>
<p> Today, baked good designs of 
all types do count as intellectual
 property,As for trademark, this is more
 of a rarity for cake designs.
</div>
<div class="col-md-4">
<h2><b>Fast Delivery</b></h2>
<p>We are fast in delivery You can 
find different types of cake such
 as chocolate, red velvet, vanilla,
 black forest, and others. You 
 can order the cake based on
 your choice.</p>

</div>

</div>
</div>







{% endblock %}