{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div id="content1" class="row">
<div class="col-md-12">
<div class="col-md-6">
<h1> <span style="font-size:100px;color:#ffffff;"><b>WE ARE THE BEST!</b></span></h1>
<h2 style=" font-family:Cooper;">ARE YOU LOOKING FOR SWEET, STYLISH AND DELICIOUS BIRTHDAY CAKES?
<br>
DON'T WORRY, WE CAN HELP YOU! 
<br>CHECK OUR CAKE SECTION

</h2>

</div>
<div class="col-md-6">
<img src="{% static 'bake4.PNG' %}" height="600" width="400"/>
</div>
</div>
</div>
<div id="content2" class="row">
<div class="col-md-12">
<h1><span style="font-size:60px;color:#FFFFFF; font-family:Cooper;">ORDER YOUR CUSTOM COOKIES</h1></span>
<a><button class="btn btn-info">ORDER NOW</button></a>
</div>
</div>
<div class="row" id="tagline">
<div class="col-md-12">
<div class="col-md-6">
<div class="col-md-12 transparent">
<img src="{% static 'icon1.PNG' %}" height="60" width="50"/>
<p><span style="font-size:30px;color:#FFFFFF;"><b>Golden Crush bakery is dedicated
to producing handmade breads using
 traditional baking techniques</b></span> </p>
 </div>
 </div>
 <div class="col-md-6">
<div class="col-md-12 transparent">
<img src="{% static 'icon.PNG' %}" height="60" width="50"/>
<p><span style="font-size:30px;color:#FFFFFF;"><b>Delicious diabetic bakery-cakes 
 and desserts with natural and alternative
 sweeteners</b></span></P>
</div>
</div>
</div>
</div>
<div class="row" id="subcontant">
<div class="col-md-12">
<h1><span style="font-size:80px;color:#FFFF00;"><b>FAST<span style="font-size:80px;color:#FFFFFF;"><b> CATERING</span></h1>
<p><span style="font-size:30px;color:#FFFFFF;">Our well known and loved products come to you ,impeccably arranged and ready to serve.</p>
<img src="{% static 'bk1.PNG' %}" height="400" width="500"/>
</div>
</div>
<div class="row text-center" id="subcontant1">
<div class="col-md-12">
<h1><span style="font-size:50px; "><b>POPULAR PRODUCTS</b></span></h1><br>

<div class="col-md-3"><br>
<img src="{% static 'b9.JPG' %}" height="300" width="300"/>
<h3><span style="font-family:monotype corsiva;color:#FF0099;font-size:30px"><b>Blackforest Cake</b></span></h3>
<p><span style="font-family:monotype corsiva;color:#FF0099;font-size:30px">Rs. 400</p>

</div>
<div class="col-md-3"><br>
<img src="{% static 'b17.JPG' %}" height="300" width="300"/>
<h3><span style="font-family:monotype corsiva;color:#FF0099;font-size:30px"><b>Vanilla Cake</b></span></h3>
<p><span style="font-family:monotype corsiva;color:#FF0099;font-size:30px"> Rs. 500</p>

</div>
<div class="col-md-3"><br>
<img src="{% static 'b18.JPG' %}" height="300" width="300"/>
<h3><span style="font-family:monotype corsiva;color:#FF0099;font-size:30px"><b>Strawberry Cake</b></span></h3>
<p><span style="font-family:monotype corsiva;color:#FF0099;font-size:30px">Rs.555</p>

</div>
<div class="col-md-3"><br>
<img src="{% static 'bkk24.JFIF' %}" height="300" width="300"/><br>
<h3><span style="font-family:monotype corsiva;color:#FF0099;font-size:30px"><b>Chocolate Cake</span></h3>
<p><span style="font-family:monotype corsiva;color:#FF0099;font-size:30px">Rs.700</p>
</div>
</div>
</div>

{% endblock %}
