{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="col-md-12" id="blog">
<h1><span style="font-size:60px;color:#FF0099"><b><marquee>OUR BAKERY BLOG</b></marquee></h1></span>
</div>
<div>
<div class="col-md-8 blog1">
 <h1><b>The Most Common Mistakes</b>
<h1><b>When Managing Personal Finances<b></h1> 
 <p> 25.03.2020</p>
 <img src="{% static 'muf3.JPG'%}" height="300" width="650"/>
 <p><b>The ability to manage money competently is especially valuable quality in
 the conditions of financial crisis, when the purchasing power of the population 
 is shrinking, inflation is rising, and currency exchange rates are completely 
 unpredictable. Below are the common mistakes related to money affairs along with
 financial planning advice to help manage your own finances properly.</p></b>
 <!--<a><button class="btn btn-info">READ MORE</button></a>-->
 </div>
 <div class="col-md-4 blog1">
 <h1><b>Recent</b></h1>  
 <h1>Post</b></h1><br><br><br>
 <img src="{% static 'muf1.JPG'%}" height="300" width="400"/>
 </div>
 <P>_____________________________________________________________________________________________________________________________________________________</P>
 </div>
<div class="row">
<div class="col-md-8 blog2">
<h1><b>Methods of the recruitment<b></h1> 
 <p> 25.03.2020</p>
 <img src="{% static 'Cake.JPG'%}" height="400" width="650"/>
 <p><b>Search of staff is not an easy task. According to the departmental heads'
 ofpersonnel management words, in order to find a personnel who will correspond
 to therelevant customer needs and requirements, it is necessary to carry out 
 a great job.</p></b>
 <!--<a><button class="btn btn-info">READ MORE</button></a>-->
 </div>
 <div class="col-md-4 blog1">
 <h1><b>Recent</b></h1>  
 <h1>Post</b></h1><br><br><br>
 <img src="{% static 'muf.JPG'%}" height="300" width="400"/>
 </div>
  <P>_____________________________________________________________________________________________________________________________________________________</P>
 </div>

<div class="row">
<div class="col-md-8 blog3">
<h1><b> Overalls with logo as a method of advertising   <b></h1> 
 <p> 25.03.2020</p>
 <img src="{% static 'Cake1.JPG'%}" height="400" width="650"/>
 <p><b>Overalls bearing the company's logo are related to economy and practicality.
 <p>A preference of corporate style involves a significant increase of costs for 
 developmentof design solutions, customized tailoring, selection of necessary
 materials and so on.  </p></b>
 <!--<a><button class="btn btn-info">READ MORE</button></a>-->
 </div>
 <div class="col-md-4 blog1">
 <h1><b>Recent</b></h1>  
 <h1>Post</b></h1><br><br><br>
 <img src="{% static 'ca3.JFIF'%}" height="300" width="400"/>
 </div>
  <P>_____________________________________________________________________________________________________________________________________________________</P>
 </div>

 
 
 
{% endblock %}
