{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-md-12" id="menu">
<div class="col-md-12 transparent">
<h1><b>Our Menu</b></h1> 
 <h2><b>Cakes & Cookies</b></h2> 
 <P><b>One of the Best & Oldest Bakery in Bathinda.</p>
 </div>
 </div>
 <div class="row" id="menu1">
 <div class="col-md-12">
 <h1>Daily Menu</h1>
 <div class="col-md-1">
  <img src="{% static 'cb.JPG'%}" height="80" width="90" class="img-circle"/>
 </div>
 <div class="col-md-5">
 <h3><b> Chocolate Biscuite</b></h3> 
 <p><b>Net Weight : 200 GM
<p><b>Ing : Refined flour,sugar,veg fat,milk powder,salt,till,custard powder,coc...
</div>
<div class="col-md-1">
  <img src="{% static 'cb1.JPG'%}" height="80" width="90" class="img-circle"/>
 </div>
<div class="col-md-5">
 <h3><b> Crunchy Coconut</b></h3> 
 <p>Net Weight : 200 GM
<p>Ing : Refined flour,sugar,veg fat,milk powder,coconut,salt,custard powder,...
<br></div><br>
<div class="col-md-1">
  <img src="{% static 'pb.JPG'%}" height="80" width="90" class="img-circle"/>
 </div>
<div class="col-md-5">
 <h3><b>Peanut Cookies</b></h3> 
 <p>Net Weight : 200 GM
<p>Ing : Refined flour,sugar,veg fat,milk powder,salt,custard powder,peanut,c...
<br></div><br>
 <div class="col-md-1">
  <img src="{% static 'bc.JPG'%}" height="80" width="90" class="img-circle"/>
 </div>
<div class="col-md-5">
 <h3><b> Butter cookies</b></h3> 
 <p>Net Weight : 200 GM
<p>Ing :Refined flour,sugar,veg fat,milk powder,salt,custard powder,fruit ja...
<br></div><br>
<div class="col-md-1">
  <img src="{% static 'sb.JPG'%}" height="80" width="90" class="img-circle"/>
 </div>
<div class="col-md-5">
 <h3><b>Swiss Berry </b></h3> 
 <p>Net Weight : 200 GM
<p>Ing :Refined flour,sugar,veg fat,milk powder,salt,custard powder,added fl...
<br></div><br>
<div class="col-md-1">
  <img src="{% static 'at.JPG'%}" height="80" width="90" class="img-circle"/>
 </div>
<div class="col-md-5">
 <h3><b> Atta Biscuit</b></h3> 
 <p>Net Weight : 200 GM
<p>Ing : Whole wheat flour,veg fat,filter water,sugar,elaichi,milk powder...
<br></div><br>
<div class="col-md-1">
  <img src="{% static 'bd.JPG'%}" height="80" width="90" class="img-circle"/>
 </div>
<div class="col-md-5">
 <h3><b> Badam Copra</b></h3> 
 <p>Net Weight : 200 GM
<p>Ing :Refined flour,sugar,veg fat,milk powder,salt,custard powder,almond,c...
<br></div><br>
<div class="col-md-1">
  <img src="{% static 'cr1.JPG'%}" height="80" width="90" class="img-circle"/>
 </div>
<div class="col-md-5">
 <h3><b> Cake Rush</b></h3> 
 <p>Net Weight : 200 GM
<p>Ing :Refind flour,Sugar,Veg Fat,Milk,Added Flavour,Vanila Concentrate
<br></div><br>
<div class="col-md-1">
  <img src="{% static 'bb1.PNG'%}" height="80" width="90" class="img-circle"/>
 </div>
<div class="col-md-5">
 <h3><b>Brown Bread</b></h3> 
 <p>Net Weight : 400 GM
<p>Ing : Wheat Flour,Veg fat,Filter Water,Sugar,Salt...
<br></div><br>
<div class="col-md-1">
  <img src="{% static 'bun.JPG'%}" height="80" width="90" class="img-circle"/>
 </div>
<div class="col-md-5">
 <h3><b>Bun</b></h3> 
 <p>Net Weight : 400 GM
<p>Ing : Refind Flour,Oil,Filter Water,Sugar,Salt,Yeast
<br></div><br>
<div class="col-md-1">
  <img src="{% static 'creamy.JPG'%}" height="80" width="90" class="img-circle"/>
 </div>
<div class="col-md-5">
 <h3><b>Butter Puff</b></h3> 
 <p>Net Weight : 200 GM
<p>Ing: whole wheat flour, veg fat, filter water, salt, refind flour...
<br></div><br>
<div class="col-md-1">
  <img src="{% static 'b3.JPG'%}" height="80" width="90" class="img-circle"/>
 </div>
<div class="col-md-5">
 <h3><b> Burger</b></h3> 
<p>Ing: whole wheat flour, veg fat, filter water, salt, refind flour...
</div></div>


<div class="row" id="menu2">
<div class="col-md-12">
<div class="col-md-1">
  <img src="{% static 'bf.JFIF'%}" height="80" width="90" class="img-circle"/>
  </div>
<div class="col-md-5">
 <h3><b> Black Forest Cake</b></h3> 
 <p>the classic blackforest cake with whipped cream frosting and cherry topping.
<br></div>
<div class="col-md-1">
  <img src="{% static 'bk15.JPG'%}" height="80" width="90" class="img-circle"/>
 </div>
<div class="col-md-5">
 <h3><b>Strawberry Cake</b></h3> 
 <p>This cake is made of the soft european sponge cake layered with fresh strawberry and jam accompanied...
</div>
<div class="col-md-1">
  <img src="{% static 'vanilla.JPG'%}" height="80" width="90" class="img-circle"/>
 </div>
<div class="col-md-5">
 <h3><b>Vanilla Cake</b></h3> 
 <p>You are not a frosting person you can go for the no frosting orange cake.The delicious orange zest w...</p>
</div>
<div class="col-md-1">
  <img src="{% static 'cc17.JPEG'%}" height="80" width="90" class="img-circle"/>
 </div>
<div class="col-md-5">
 <h3><b>CupCake</b></h3> 
 <p>ugar,Wheat Flour,Milk Solids,Edible vegetable Oil,Cocoa(3.3%),CornSalt,Flavouring (Chocolate,Vanilla and Vanillin)
</div>
<div class="col-md-1">
  <img src="{% static 'sb1.JPG'%}" height="80" width="90" class="img-circle"/>
 </div>
<div class="col-md-5">
 <h3><b>Sandwich Bun</b></h3> 
 <p>Net Weight : 400 GM
<p>Ing : Refined flour, Oil, Yeast, Filter water, Sugar, Salt
</div>
<div class="col-md-1">
  <img src="{% static 'bt.JPG'%}" height="80" width="90" class="img-circle"/>
 </div>
<div class="col-md-5">
 <h3><b>Butter Biscuit</b></h3> 
 <p>Net Weight : 200 GM
<p>Ing: Wheet flour, sugar, veg fat, coco powder, chocolate chips, cashew, Salt....
</div>
</div>
</div>
</div>
<div class="col-md-row" id="menu3">
<h1><b>Top  Products</b></h1>
</div>
<div class="row" id="menu4">
<div class="col-md-12">
<h1><b>Birthday Cakes<b></h1>
<div class="col-md-3"><br>
<marquee dirction="right" behavior="alternation" scroll amount="10"><img src="{% static 'bc1.JPG' %}" height="300" width="300"/></marquee>
<p>Rs. 420</p>
</div>
<div class="col-md-3"><br>
<marquee dirction="right" behavior="alternation" scroll amount="5"><img src="{% static 'bc2.JPG' %}" height="300" width="300"/></marquee>
<p>Rs.450</p>
</div>
<div class="col-md-3"><br>
<marquee dirction="right" behavior="alternation"><img src="{% static 'bc3.JPG' %}" height="300" width="300"/></marquee></marquee>
<p>Rs.460</p>
</div>
<div class="col-md-3"><br>
<marquee dirction="right" behavior="alternation"><img src="{% static 'bc4.JPG' %}" height="300" width="300"/></marquee></marquee>
<p>Rs.480</p>
</div>
<div class="col-md-3"><br>
<marquee dirction="right" behavior="alternation"><img src="{% static 'bc6.JPG' %}" height="300" width="300"/></marquee></marquee>
<p>Rs.490</p>
</div>
<div class="col-md-3"><br>
<marquee dirction="right" behavior="alternation"><img src="{% static 'bc7.JPG' %}" height="300" width="300"/></marquee></marquee>
<p>Rs.495</p>
</div>
<div class="col-md-3"><br>
<marquee dirction="right" behavior="alternation"><img src="{% static 'bc8.JPG' %}" height="300" width="300"/></marquee></marquee>
<p>Rs.499</p>
</div>
<div class="col-md-3"><br>
<marquee dirction="right" behavior="alternation" scroll amount="5"><img src="{% static 'bc11.JPG' %}" height="300" width="300"/></marquee>
<p>Rs.510</p>
</div>
<div class="col-md-3"><br>
<marquee dirction="right" behavior="alternation" scroll amount="5"><img src="{% static 'bc13.JPG' %}" height="300" width="300"/></marquee>
<p>Rs.525</p>
</div>
<div class="col-md-3"><br>
<marquee dirction="right" behavior="alternation" scroll amount="5"><img src="{% static 'bc14.JPG' %}" height="300" width="300"/></marquee>
<p>Rs.540</p>
</div>
<div class="col-md-3"><br>
<marquee dirction="right" behavior="alternation" scroll amount="5"><img src="{% static 'bc16.JPG' %}" height="300" width="300"/></marquee>
<p>Rs.550</p>
</div>
<div class="col-md-3"><br>
<marquee dirction="right" behavior="alternation" scroll amount="5"><img src="{% static 'bc17.JPG' %}" height="300" width="300"/></marquee>
<p>Rs.560</p>
</div>
</div>
</div><br>
<div class="row" id="menu5">
<div class="col-md-12">
<h1><b>Party Cakes</b></h1>
<div class="col-md-3"><br>
<img src="{% static 'bc19.JPG' %}" height="300" width="300"/>
<p>Rs.699</p>
</div>
<div class="col-md-3"><br>
<img src="{% static 'bc22.JPG' %}" height="300" width="300"/>
<p>Rs.740</p>
</div>
<div class="col-md-3"><br>
<img src="{% static 'bc23.JPG' %}" height="300" width="300"/>
<p>Rs.750</p>
</div>
<div class="col-md-3"><br>
<img src="{% static 'bc25.JPG' %}" height="300" width="300"/>
<p>Rs.780</p>
</div>
<div class="col-md-3"><br>
<img src="{% static 'bc18.JPG' %}" height="300" width="300"/>
<p>Rs.799</p>
</div>
<div class="col-md-3"><br>
<img src="{% static 'bc26.JPG' %}" height="300" width="300"/>
<p>Rs.850</p>
</div>
<div class="col-md-3"><br>
<img src="{% static 'bc24.PNG' %}" height="300" width="300"/>
<p>Rs.880</p>
</div>
<div class="col-md-3"><br>
<img src="{% static 'bc27.JPG' %}" height="300" width="300"/>
<p>Rs.999</p>
</div>
</div>
</div>




{% endblock %}