{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-md-12" id="offers">
<h1><b><marquee> OFFERS</b></marquee></h1>
</div>
<div class="row" id="offer1">
 <h1><span style="color:#FF0099"><b>SERVICE OFFERS</h1><br>
 <div class="col-md-12">
<div class="col-md-3"> Home Delivery</div>
<div class="col-md-3"> Menu Planner</div>
<div class="col-md-3"> Support 24/7</div>
<div class="col-md-3"> Best Quality</div>

</div>
<br><br>
<h1><b>BUY 2 CAKES GET <span style="font-size:80px;color:#66CC00;">1 FREE</b><h1>
<br>
<div class="col-md-4">
<img style="border:3px solid black;"src="{% static 's4.JPG'%}" height="300" width="420"/>
<p><b>2 Strawberry Cakes with 1 Cake Free<b></p>
<p>Rs. 100</p>
</div>
<div class="col-md-4">
<img style="border:3px solid black;"src="{% static 's5.JPG'%}" height="300" width="420"/>
<p><b>2 Creamy Cakes with 1 Cake Free</p>
<p>Rs. 120</p>
</div>
<div class="col-md-4">
<img style="border:3px solid black;"src="{% static 's3.JPG'%}" height="300" width="420"/>
<p><b>2 Vanilla Cakes with 1 Cake Free</p>
<p>Rs. 135</p><br>
</div>
<h1><b>COOKIES AND DOUGHNUTS-- <span style="font-size:80px;color:#66CC00;">10% OFF</b><h1>
<div class="col-md-4"><br>
<img style="border:3px solid black;" src="{% static 'cook.JPG'%}" height="300" width="420"/>
<p><b>Cookies </p>
<p> Rs.20<p>
</div>
<div class="col-md-4"><br>
<img style="border:3px solid black;"src="{% static 'cook2.JPG'%}" height="300" width="420"/>
<p><b>Cookies</p>
<p>Rs. 25</p>
</div>
<div class="col-md-4"><br>
<img  style="border:3px solid black;"src="{% static 'cook5.JPG'%}" height="300" width="420"/>
<p><b> Cookies</p>
<p> Rs. 30</p>
</div>
</div>
<div class="row" id="offer2">
<div class="col-md-12">
<div class="col-md-4"><br>
<img src="{% static 'd1.JPG'%}" height="300" width="420"/>
<p><b>Doughnuts</p>
<p> Rs. 10</p>
</div>
<div class="col-md-4"><br>
<img style="border:3px solid black;" src="{% static 'd2.JPG'%}" height="300" width="420"/>
<p><b>Doughnuts</p>
<p> Rs. 15</p>
</div>
<div class="col-md-4"><br>
<img style="border:3px solid black;" src="{% static 'd3.JPG'%}" height="300" width="420"/>
<p><b> Doughnuts</p>
<p> Rs. 20</p>
</div>
<div class="row" id="offer3">
<div class="col-md-12">
<h1><b>OFFERS ON NEW PRODUCTS-- <span style="font-size:80px;color:#66CC00;">5% OFF</b><h1>
<div class="col-md-4"><br>
<img style="border:3px solid black;" src="{% static 'n4.JPG'%}" height="300" width="420"/>
<p> Rs. 450</p>
</div>
<div class="col-md-4"><br>
<img style="border:3px solid black;" src="{% static 'n3.JPG'%}" height="300" width="420"/>
<p> Rs. 470</p>
</div>
<div class="col-md-4"><br>
<img style="border:3px solid black;" src="{% static 'n9.JPG'%}" height="300" width="420"/>
<p> Rs. 500</p>
</div>
</div>
</div>
</div>
</div>





{% endblock %}
