{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="col-md-row" id="service">
<h1><b> OUR SERVICES</b></h1></span>
<br>
</div>
<br>
<div class="col-md-12"> 
<div class="row" id="service5">
<h1>True Passion</h1>
<h2>NATURAL FLAVOURS</h2>
<p>This is your most important day, and we are here to ensure that everyone remembers the cake.</p>
</div>
</div>

<div class="col-md-12">
<div class="row" id="service1">
<div class="col-md-4">
<img src="{% static 'cc21.JPG'%}" height="70" width="80" class="img-circle"/>
<h2><b>1.Cakes Design</b></h2><br>
<p><b>This has become a form of unique artistry,
 and ranges from a single-layer cake,decorated 
 simply, to a multi-layered 3-dimensional creation,
 that is decorated with edible ribbons made of sugar.
 Early construction methods of cutting shapes out of
 cake and piecing them together to create a structure.</p>
 </div>
 <div class="col-md-4">
 <img src="{% static 'cc7.JFIF'%}" height="70" width="80" class="img-circle"/>
 <h2><b>2.Best Cupcakes</b></h2></span> <br>
<p>A cupcake is a small cake designed to serve one person,
 which may be baked in a small thin paper or aluminum cup.
 As with larger cakes, icing and other cake decorations 
 such as fruit and candy may be applied.</p>
 </div>
<div class="col-md-4">
 <img src="{% static 'cc8.JPG'%}" height="70" width="80" class="img-circle"/>
 <h2><b>3.Desserts</b></h2></span> <br>
<p>Dessert is the sweet course eaten at the
 end of a meal. The term “dessert” can apply 
 to many confections, such as cakes, tarts, 
 cookies, biscuits, gelatins, pastries, ice 
 creams, pies, puddings, custards, and sweet soups.</p>
 </div>
 </div>
 <div class="row" id="service2">
 <div class="col-md-4">
 <img src="{% static 'cc19.JPG'%}" height="70" width="90" class="img-circle"/>
 <h2><span style="font-family:cursive;color:#FF0099"><b>4.Menu Planner</b></h2></span> <br>
<p>Menu planning is the process of deciding 
what you will eat for each meal, including 
main dishes, side dishes, and desserts.It 
also entails knowing how many meals to
 plan for and when to serve them.</p>
 </div>
   <div class="col-md-4">
 <img src="{% static 'cc18.JPG'%}" height="70" width="80" class="img-circle"/>
 <h2><span style="font-family:cursive;color:#FF0099"><b>5.Awesome Recipes</b></h2></span> <br>
<p> We provide freshly baked desserts for a variety
 of corporate functions, from breakfast meetings and 
 afternoon coffee breaks to birthday celebrations and 
 employee recognition events. We offer a broad range
 of catering packages perfect for events big and small. </p>
  </div>
 <div class="col-md-4">
 <img src="{% static 'cc20.JPG'%}" height="70" width="80" class="img-circle"/>
 <h2><span style="font-family:cursive;color:#FF0099"><b>6.Home Delivery</b></h2></span> <br>
<p> One of the key benefits of ordering the cake online is
 that offer a variety of cake.You can find different types
 of cake such as chocolate, red velvet, vanilla, black forest
 and others. You can order the cake based on your choice.
 By ordering the birthday cake online you can save time and
 money. You can also search for Bakery Near Me and order 
 the birthday cake at the last minute. Many bakeries deliver 
 the cake instantly.   </b></p>
 </div>
 </div>
<div class="row text-center" id="service3">
<div class="col-md-12 transparent">
<h1><b>PICK PERSONALIZE AND PAY  FOR YOUR<b></h1> 
<h1><b>FAVORITES BAKERY PRODUCTS<b></h1>
<a href="/order/"><button class="btn btn-info">ORDER NOW</button></a>
 </div>
 </div>
 <div class="row" id="service4">
<div class="col-md-7">
<h1><b>  We are fast in delivery!</b></h1>
<h1><b>  Order through <span style="color:#66CC00;font-size:70px;">Online</b></h1> 
<p><b> One of the key benefits of ordering the cake online is that 
offer a variety of cake. You can find different types of cake such
 as chocolate, red velvet, vanilla, black forest, and others. You 
 can order the cake based on your choice.</b></p>
  </div>
  <div class="col-md-5">
  <img src="{% static 'pa.JPG'%}" height="400" width="520"/>
  
  </div>
  </div>
  </div>
  </div>
 




{% endblock %}